.closeBtn{
    width:25px;
    height:25px;
    position: absolute;
    padding:0px;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}